@font-face {
  font-family: "Gloria Hallelujah";
  src: url("/assets/fonts/GloriaHallelujah-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gloria Hallelujah", sans-serif;
}
